body {
    background-color: rgb(0, 120, 42);
    margin-left: 20px;
    margin-top: 20px;
}
.temp1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 22px;
    justify-content: center;
}
.sign-in {
    font-family: Roboto;
    font-weight: bolder;
    display: flex;
    font-family: Roboto;
    font-size: 28px;
    margin-bottom: 30px;
    justify-content: center;
}
.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.username,
.password {
    padding: 7px;
    font-family: Roboto;
    font-size: 15px;
    border-radius: 8px;
    margin: 10px 10px 5px 0px;
    width: 300px;
    height: 40px;
    border-color: white;
    outline-color: rgb(0, 105, 224);
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    font-weight: bold;
    transition: 0.15s;
}
.checkbox-forgot-password {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 15px;
    color: green;
    justify-content: center;
}
.stay {
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
}
.for-password {
    margin-left: 100px;
    font-family: Roboto;
    color: green;
    cursor: pointer;
    transition: 0.15s;
}
.for-password:hover {
    color: rgb(0, 158, 0);
}
.buttons-log {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    height: 40px;
    margin-bottom: 40px;
    justify-content: center;
}
.login,
.signup {
    font-family: Roboto;
    margin-right: 30px;
    border-radius: 7px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.15s;
    font-weight: bold;
}
.login {
    background-color: rgb(0, 105, 224);
    color: white;
    border-color: rgb(0, 105, 224);
    border-style: solid;
}
.login:hover {
    background-color: rgb(0, 111, 238);
}
.signup {
    background-color: white;
    border-style: solid;
    border-color: rgb(0, 105, 224);
    color: rgb(0, 105, 224);
}
.signup:hover {
    background-color: rgb(246, 246, 246);
}
.login:active {
    background-color: rgb(0, 116, 248);
}
.signup:active {
    background-color: white;
}